p {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.2em;
}

p.important {
    font-size: 1.5em;
    font-weight: lighter;
}

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2em;
}

h3 {
    text-align: center;
}

.typewriter {
    font-family: "Courier New", Courier, monospace;
}

.emphasis {
    font-style: italic;
}

.standout {
    color: #cc0000;
}

.chapter11 {
    letter-spacing: 0.5em;
    word-spacing: 1.5em;
    line-height: 2em;
}

.justified {
    text-align: justify;
}