body {
    font-size: 1em;
    background-color: lightblue;
}

#heading-box {
    background-color: blue;
    padding: 10px;
    border: 1px solid;
}

#header {
    text-align: center;
    padding-top: .1em;
    font-family: Verdana, Geneva, sans-serif;
    color: orange;
    text-decoration: underline;
}

#about {
    font-family: Tahoma, Geneva, sans-serif;
    margin-top: 2em;
    text-align: center;
}

#difficulty-panel {
    text-align: center;
}

#maze {
    margin-left: 25%;
    margin-top: 1em;
}

#player {
    padding: .3em;
    background-color: transparent;
}

#my-maze {
    border: 1px solid;
    background-color: black;
    padding: .3em;
}

#button-panel {
    padding-top: 1em;
    text-align: center;
}
